{%  extends 'base.html'%}

{% block title %} Notificações {% endblock %}

{% block main %}

 

  {% for notification in notifications %}
        {% if notification.viewed == False %}

        

{% if notification.notification_type == 1 %}
   
<p>Você tem uma nova mensagem</p>
            <p>{{notification.message}}</p>
            <p>{{notification.user}}
            <a href="{% url 'delete_notification' notification.id %}" class="delete">Marcar Como lido</a>   
            <br><br>

{% endif %}

{% if notification.notification_type == 2 %}
   
          
<a href="{% url 'produtos_requisitados' %}" class="nav-link"> Você tem uma proposta de aluguel</a>

        
            
            <a href="{% url 'delete_notification' notification.id %}" class="delete">Marcar Como lido</a>   
            <br><br>

{% endif %}


            
        {% endif %}
    {% endfor %}

<a href="{% url 'markall_as_read'  %}" class="delete">Marcar todas como lido</a>  
{% endblock %}

