{%  extends 'base.html'%}
{% load static %}
{% load bootstrap %}
{% block title %} Alugo - Tela Inicial {% endblock %}

{% block main %}

<div>
    {% for message in messages %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
</div>

<section id="section-home-pesquisar" class="container-fluid bg-light pt-4 pb-1 categoria">
    <div class="container">
        <form method="POST" id="form" action="pesquisa/" enctype="multipart/form-data">
            {% csrf_token %}
            <input hidden value="{{categoria}}" name="categoria" id="categoriaSelecionada">
            <input hidden value="{{estado}}" name="estado" id="estadoSelecionado">
            <span class="input-group-append">
                <input type="text" maxlength="100" class="form-control form-control-lg" name="nome" id="nomePesquisa">
                <button id="btnForm" type="submit" class="btn btn-primary py-0 px-3">
                    <img src="{% static 'images/icone-lupa.png' %}" style="width: 30px;" alt="icone lupa">
                </button>
            </span>
            <form>
                <div class="row my-4 col-12" style="border-radius: 20px;">

                    <div class="col-md-2 col-6 text-center aumentar-tamanho-mouse mt-3">
                        <a onclick="preencherCategoria('Ferramentas')">
                            <img src="{% static 'images/icone-ferramentas.png' %}" alt="icone ferramenta">
                            <br>
                            <p class="m-0">Ferramentas</p>
                        </a>
                    </div>

                    <div class="col-md-2 col-6 text-center aumentar-tamanho-mouse mt-3">
                        <a onclick="preencherCategoria('Moda e Beleza')">
                            <img src="{% static 'images/icone-roupa.png' %}" alt="icone roupa">
                            <br>
                            <p class="m-0">Moda e Beleza</p>
                        </a>
                    </div>

                    <div class="col-md-2 col-6 text-center aumentar-tamanho-mouse mt-3">
                        <a onclick="preencherCategoria('Eletrônicos')">
                            <img src="{% static 'images/icone-eletronico.png' %}" alt="icone eletronico">
                            <br>
                            <p class="m-0">Eletrônicos</p>
                        </a>
                    </div>

                    <div class="col-md-2 col-6 text-center aumentar-tamanho-mouse mt-3">
                        <a onclick="preencherCategoria('Automóveis')">
                            <img src="{% static 'images/icone-carro.ico' %}" alt="icone carro">
                            <br>
                            <p class="m-0">Automóveis</p>
                        </a>
                    </div>

                    <div class="col-md-2 col-6 text-center aumentar-tamanho-mouse mt-3">
                        <a onclick="preencherCategoria('Construção')">
                            <img src="{% static 'images/icone-construcao.ico' %}" style="margin-bottom: 9px;"
                                alt="icone Construção">
                            <br>
                            <p class="m-0">Construção</p>
                        </a>
                    </div>

                    <div class="col-md-2 col-6 text-center aumentar-tamanho-mouse mt-3">
                        <a onclick="preencherCategoria('Agro e Indústria')">
                            <img src="{% static 'images/icone-industria.ico' %}" style="width: 60px;"
                                alt="icone Indústria">
                            <br>
                            <p class="m-0">Agro e Indústria</p>
                        </a>
                    </div>
</section>

<section class="container mt-5">
    <h4>Anúncios Recentes</h4>
    <div class="row p-md-5 py-4 pl-3">

        {% for product in products %}
        <div class="col-md-3 col-6 mb-4 aumentar-tamanho-mouse">
            <a href="{% url 'detail_product' product.id %}">
                <image src="{{ product.get_photo_url }}" class="rounded tamanho-fixo-imagens"> </image>
                <p data-toggle="tooltip" data-placement="bottom" title="{{ product.nome }}" class="h5 mt-2 mb-1 ml-1 reticencias">{{ product.nome }}</p>
                <p class="m-0 ml-1" style="font-size: 20px;"><strong>R$ {{ product.preco }}</strong></p>
                <p class="m-0 ml-1" style="font-size: 15px; color: rgb(153, 153, 153); font-weight: 500;">
                    {{ product.estado }}<span>, {{ product.cidade }}</span></p>
            </a>
        </div>
        {% endfor %}
    </div>
    </div>

    <div class="row mb-5 px-4 py-1" style="border-radius: 20px; background-color: lavender;">

        <div class="col-12 mb-2">
            <h5><span><img src="{% static 'images/icone-localizacao.ico' %}" style="width: 50px;" alt=""></span> Escolha
                seu Estado</h5>
        </div>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Acre')">
            <p>AC</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Alagoas')">
            <p class="m-0">AL</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Amapá')">
            <p class="m-0">AP</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Amazonas')">
            <p class="m-0">AM</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Bahia')">
            <p class="m-0">BA</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Ceará')">
            <p class="m-0">CE</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Distrito Federal')">
            <p class="m-0">DF</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Espírito Santo')">
            <p class="m-0">ES</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Goiás')">
            <p class="m-0">GO</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Maranhão')">
            <p class="m-0">MA</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Mato Grosso do Sul')">
            <p class="m-0">MS</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Mato Grosso')">
            <p class="m-0">MT</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Minas Gerais')">
            <p class="m-0">MG</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Pará')">
            <p class="m-0">PA</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Paraíba')">
            <p class="m-0">PB</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Pernambuco')">
            <p class="m-0">PE</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Piauí')">
            <p class="m-0">PI</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho" onclick="preencherEstado('Paraná')">
            <p class="m-0">PR</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Rio de Janeiro')">
            <p class="m-0">RJ</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Rio Grande do Norte')">
            <p class="m-0">RN</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Rondônia')">
            <p class="mt-3 mt-md-0">RO</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Roraima')">
            <p class="mt-3 mt-md-0">RR</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Rio Grande do Sul')">
            <p class="mt-3 mt-md-0">RS</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Santa Catarina')">
            <p class="mt-3 mt-md-0">SC</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('São Paulo')">
            <p class="mt-3 mt-md-0">SP</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Sergipe')">
            <p class="mt-3 mt-md-0">SE</p>
        </a>

        <a class="aumentar-tamanho-mouse link-sem-cor-azul-sem-traco estado-atalho"
            onclick="preencherEstado('Tocantins')">
            <p class="mt-3 mt-md-0">TO</p>
        </a>

    </div>
</section>




<section class="container-fluid bg-light p-5">
    <div class="container">
        <h4>Sobre o Alugo</h4>
        <div class="mt-5 row py-4 py-sm-0 ml-3 justify-content-between">

            <div class="row bg-primary p-5 col-md-5 col-12 align-items-center" style="border-radius: 80px;">
                <div class="col-6">
                    <h5 class="text-white">Plataforma de Aluguéis de bens</h5>
                </div>
                <div class="col-6">
                    <img class="img-fluid" style="border-radius: 80px;" src="{% static 'images/icon-256x256.png' %}"
                        alt="">
                </div>
                <div class="mt-5">
                    <h6 class="text-white"></h6>
                </div>
            </div>

            <div class="row bg-danger p-5 col-md-5 col-12 mt-5 mt-md-0 align-items-center"
                style=" border-radius: 80px;">

                <div class="col-md-6 col-12">
                    <img class="img-fluid" style="width: 200px; height: 200px; border-radius: 80px;"
                        src="{% static 'images/alugar-carro.jpg' %}" alt="">
                </div>
                <div class="col-md-6 col-12 mt-4 mt-md-0">
                    <h5 class="text-white">Tem algum produto parado na sua residência e não sabe o que fazer?</h5>
                </div>
                <div class="mt-md-5 mt-3">
                    <h6 class="text-white">No Alugo você pode anunciar seu produto para outra pessoa alugar e ainda
                        receber
                        por isso!</h6>
                </div>
            </div>




        </div>
    </div>
</section>

<script type="text/javascript">
    document.getElementById("nomePesquisa").placeholder = 'Estou procurando por...';

    function preencherCategoria(categoria) {
        document.getElementById('categoriaSelecionada').value = categoria;
        document.getElementById('btnForm').click();
    }

    function preencherEstado(estado) {
        document.getElementById('estadoSelecionado').value = estado;
        document.getElementById('btnForm').click();
    }
</script>

{% endblock %}