{%  extends 'base.html'%}
{% load static %}


{% block title %} Perguntas Frequentes {% endblock %}

{% block main %}

<section class="container-fluid bg-light p-5">
  <div class="container text-center">
    <div class="mb-5">
      <h3 class="display-4 text-primary">Olá, como podemos Ajudar?</h3>
    </div>
  </div>
</section>

<section class="container p-5 duvida-por-tema">

  <div>
    <h3>Dúvidas por tema</h3>
  </div>

  <!-- Inicio - 1 categoria de dúvidas -->
  <div class="pb-2" style="border-bottom: 1px solid #ccc;">

    <div class="pt-4 pb-2">
      <a data-toggle="collapse" href="#MinhaConta" class="colecao" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1">
        <img src="{% static 'images/icone-seta-pro-lado.ico' %}" style="width: 20px;" alt="icone seta">
        Minha Conta</a>
    </div>

    <div class="collapse ml-5" id="MinhaConta">

      <!--  Inicio - Um submenu com um texto -->
      <div class="mb-3">
        <a data-toggle="collapse" href="#AlterarDados" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como alterar dados da minha conta?</a>
      </div>

      <div class="collapse ml-5" id="AlterarDados">
        <p>Na barra de navegação, clique na aba Perfil, em seguida clique em Meu Perfil, após isso digite os novos dados
          e salve a alteração.</p>
      </div>
      <!--  Fim - Um submenu com um texto -->

      <div class="mb-3">
        <a data-toggle="collapse" href="#ExcluirConta" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como excluo minha conta?</a>
      </div>

      <div class="collapse ml-5" id="ExcluirConta">
        <p>Na barra de navegação, clique na aba Perfil, em seguida clique em Meu Perfil, role a página até o fim e
          clique em excluir conta.</p>
      </div>
    </div>
  </div>
  <!-- Fim - 1 categoria de dúvidas -->

  <div class="pb-2" style="border-bottom: 1px solid #ccc;">

    <div class="pt-4 pb-2">
      <a data-toggle="collapse" href="#Anuncio" class="colecao" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1">
        <img src="{% static 'images/icone-seta-pro-lado.ico' %}" style="width: 20px;" alt="icone seta pro lado">
        Anúncios</a>
    </div>

    <div class="collapse ml-5" id="Anuncio">

      <div class="mb-3">
        <a data-toggle="collapse" href="#PublicarAnuncio" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como publico um anúncio?</a>
      </div>

      <div class="collapse ml-5" id="PublicarAnuncio">
        <p>No menu de navegação, clique em "Anunciar".</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#VerMeusAnuncios" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Onde vejo meus anúncios publicados?</a>
      </div>

      <div class="collapse ml-5" id="VerMeusAnuncios">
        <p>No menu de navegação, clique em "Meus Anúncios".</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#EditarAnuncio" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como edito meu anúncio?</a>
      </div>

      <div class="collapse ml-5" id="EditarAnuncio">
        <p>No menu de navegação, clique em "Meus Anúncios", clique no ícone <span><i class="fa fa-pencil" aria-hidden="true"></i></span> e edite seu anúncio!</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#ExcluirAnuncio" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como excluo meu anúncio?</a>
      </div>

      <div class="collapse ml-5" id="ExcluirAnuncio">
        <p>No menu de navegação, clique em "Meus Anúncios", clique no ícone <span><i class="fa fa-trash" aria-hidden="true"></i></span> e exclua seu anúncio!</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#FavoritarAnuncio" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como favorito um anúncio?</a>
      </div>

      <div class="collapse ml-5" id="FavoritarAnuncio">
        <p>Escolha o anúncio que quer favoritar, abra-o, em seguida clique no ícone <span><img style="width: 30px;" src="{% static 'images/coracao-vazio.ico' %}" alt=""></span> para favoritar.</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#VerAnuncioFavoritado" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Onde vejo meus anúncios favoritados?</a>
      </div>

      <div class="collapse ml-5" id="VerAnuncioFavoritado">
        <p>No menu de navegação, clique em "Perfil", depois clique em "Meus Favoritos".</p>
      </div>

    </div>
  </div>

  <div class="pb-2" style="border-bottom: 1px solid #ccc;">

    <div class="pt-4 pb-2">
      <a data-toggle="collapse" href="#SerPrime" class="colecao" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1">
        <img src="{% static 'images/icone-seta-pro-lado.ico' %}" style="width: 20px;" alt="icone seta pro lado">
        Ser Prime</a>
    </div>

    <div class="collapse ml-5" id="SerPrime">

      <!--  Inicio - Um submenu com um texto -->
      <div class="mb-3">
        <a data-toggle="collapse" href="#TornarPrime" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como me torno prime?</a>
      </div>

      <div class="collapse ml-5" id="TornarPrime">
        <p>No menu de navegação, clique em "Seja Prime", logo em seguida, clique em "Comprar Plano" e siga o passo a passo.</p>
      </div>
      <!--  Fim - Um submenu com um texto -->

    </div>
  </div>

  <div class="pb-2" style="border-bottom: 1px solid #ccc;">

    <div class="pt-4 pb-2">
      <a data-toggle="collapse" href="#Alugar" class="colecao" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1">
        <img src="{% static 'images/icone-seta-pro-lado.ico' %}" style="width: 20px;" alt="icone seta pro lado">
        Alugar</a>
    </div>

    <div class="collapse ml-5" id="Alugar">

      <div class="mb-3">
        <a data-toggle="collapse" href="#AlugarProduto" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como inicio o processo de aluguel?</a>
      </div>

      <div class="collapse ml-5" id="AlugarProduto">
        <p>Escolha o anúncio que você quer alugar, clique em "Chamar no chat", em seguida, clique em "Alugar" e siga o passo a passo.</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#VerMeusAlugueis" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Sou locador, onde vejo meus produtos alugados?</a>
      </div>

      <div class="collapse ml-5" id="VerMeusAlugueis">
        <p>No menu de navegação, clique em "Perfil" e clique em "Suas Propostas".</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#EditarAnuncio" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Sou locador, Como encerro um aluguel?</a>
      </div>

      <div class="collapse ml-5" id="EditarAnuncio">
        <p>No menu de navegação, clique em "Perfil", clique em "Suas Propostas", clique no produto que você quer encerrar o aluguel em "Produtos Alugados" e clique no botão "Encerrar Aluguel"</p>
      </div>

      <div class="mb-3">
        <a data-toggle="collapse" href="#ExcluirAnuncio" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Sou locador, onde vejo propostas propostas que recebi?</a>
      </div>

      <div class="collapse ml-5" id="ExcluirAnuncio">
        <p>No menu de navegação, clique em "Perfil", clique em "Suas Propostas", em "Aguardando sua Resposta" estará as propostas recebidas.</p>
      </div>

    </div>
  </div>

  <div class="pb-2" style="border-bottom: 1px solid #ccc;">

    <div class="pt-4 pb-2">
      <a data-toggle="collapse" href="#Avaliacoes" class="colecao" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1">
        <img src="{% static 'images/icone-seta-pro-lado.ico' %}" style="width: 20px;" alt="icone seta pro lado">
        Avaliações</a>
    </div>

    <div class="collapse ml-5" id="Avaliacoes">

      <div class="mb-3">
        <a data-toggle="collapse" href="#AvaliarUsuario" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como avalio um usuário?</a>
      </div>

      <div class="collapse ml-5" id="AvaliarUsuario">
        <p>Após ter realizado um aluguel, no menu de navegação, clique em "Perfil", logo em seguida, clique em "Avaliações pendentes", clique no produto que você alugou para estar avaliando o locador/locatário.</p>
      </div>
      
      <div class="mb-3">
        <a data-toggle="collapse" href="#VerAvaliacoesUsuario" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Como vejo as avaliações de um usuário?</a>
      </div>

      <div class="collapse ml-5" id="VerAvaliacoesUsuario">
        <p>Clique no anúncio e depois clique em "Avaliações deste Locador"</p>
      </div>

    </div>
  </div>

  <div class="alert alert-warning mt-5" role="alert">
    Não encontrou solução ou precisa de algum suporte? Mande um e-mail para <a href="#" class="alert-link">alugosac@alugo.com</a> Que responderemos em até 48 horas!
  </div>

</section>

<div>

</div>

{% endblock %}