{%  extends 'base.html'%}
{% load static %}
{% load bootstrap %}
{% block title %} Pesquisa {% endblock %}

{% block main %}

<section id="section-home-pesquisar" class="container-fluid bg-light pb-4">
    <div class="container">

        <div class="row my-4 col-12 categoria" id="divCategorias">

            <div onclick="selecionarCategoria('Ferramentas', 'divFerramentas')" id="divFerramentas"
                class="col-md-2 col-6 text-center mt-3">
                <a class="pesquisa-categoria">
                    <img src="{% static 'images/icone-ferramentas.png' %}" alt="icone ferramenta">
                    <br>
                    <p class="m-0">Ferramentas</p>
                </a>
            </div>

            <div id="divModa" onclick="selecionarCategoria('Moda e Beleza', 'divModa')"
                class="col-md-2 col-6 text-center mt-3">
                <a class="pesquisa-categoria">
                    <img src="{% static 'images/icone-roupa.png' %}" alt="icone roupa">
                    <br>
                    <p class="m-0">Moda e Beleza</p>
                </a>
            </div>

            <div id="divEle" onclick="selecionarCategoria('Eletrônicos', 'divEle')"
                class="col-md-2 col-6 text-center mt-3">
                <a class="pesquisa-categoria">
                    <img src="{% static 'images/icone-eletronico.png' %}" alt="icone eletronico">
                    <br>
                    <p class="m-0">Eletrônicos</p>
                </a>
            </div>

            <div onclick="selecionarCategoria('Automóveis', 'divAuto')" id="divAuto"
                class="col-md-2 col-6 text-center mt-3">
                <a class="pesquisa-categoria">
                    <img src="{% static 'images/icone-carro.ico' %}" alt="icone carro">
                    <br>
                    <p class="m-0">Automóveis</p>
                </a>
            </div>

            <div onclick="selecionarCategoria('Construção', 'divConst')" id="divConst"
                class="col-md-2 col-6 text-center mt-3">
                <a class="pesquisa-categoria">
                    <img src="{% static 'images/icone-construcao.ico' %}" class="mb-2" alt="icone Construção">
                    <br>
                    <p class="m-0">Construção</p>
                </a>
            </div>

            <div onclick="selecionarCategoria('Agro e Indústria', 'divAgro')" id="divAgro"
                class="col-md-2 col-6 text-center mt-3">
                <a class="pesquisa-categoria">
                    <img src="{% static 'images/icone-industria.ico' %}" alt="icone Indústria">
                    <br>
                    <p class="m-0">Agro e Indústria</p>
                </a>
            </div>
        </div>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="d-none d-md-block">
                <input hidden value="{{categoria}}" name="categoria" id="categoriaSelecionada">

                <span class="input-group-append">
                    <input type="text" maxlength="100" value="{{nome}}" class="form-control" name="nome"
                        id="nomePesquisa">
                    <button type="submit" class="btn btn-primary py-0 px-3">
                        <img src="{% static 'images/icone-lupa.png' %}" style="width: 30px;" alt="icone lupa">
                    </button>
                </span>
            </div>


    </div>

</section>

<section class="container-fluid p-lg-5 p-3 ml-lg-5">
    <div class="row ml-md-5">

        <div class="col-lg-3 col-12">

            <div class="bg-light ml-lg-5 mr-lg-4 p-5" style="border-radius: 20px; color: rgb(74, 74, 74);">
                <div class="text-center">
                    <h5>Estado</h5>
                </div>
                <div>
                    <select class="custom-select mt-2 mb-4" name="estado" id="estado"></select>
                </div>
                <div class="text-center">
                    <h5>Cidade</h5>
                </div>
                <div>
                    <select class="custom-select" name="cidade" id="cidade"></select>
                </div>
            </div>
        </div>


        <div class="d-md-none d-block col-12 mt-4 mb-5">
            <input hidden value="{{categoria}}" name="categoria" id="categoriaSelecionada">

            <span class="input-group-append">
                <input type="text" maxlength="100" value="{{nome}}" class="form-control" name="nome" id="nomePesquisa">
                <button type="submit" class="btn btn-primary py-0 px-3">
                    <img src="{% static 'images/icone-lupa.png' %}" style="width: 30px;" alt="icone lupa">
                </button>
            </span>
        </div>

        </form>
        
        <div class="row col-lg-7 col">

            {% for product in products %}
            <div class="col-12 mb-1" style="border-bottom: 1px solid #DADADA; ">

                <a class="texto-item" href="{% url 'detail_product' product.id %}">

                    <div class="row col-12 p-3">

                        <image src="{{ product.get_photo_url }}" class="rounded tamanho-imagens-pesquisa"> </image>

                        <div class="row col-lg-9 col-8 col-sm-4">
                            <p class="col-lg-9 col-4 texto-item-nome align-content-md-between">{{ product.nome }}</p>

                            <p class="col-lg-3 col-12" style="font-size: 20px; font-weight: 700;">R$ {{ product.preco }}</p>

                            <p class="col-lg-9 col-12 align-self-md-end" style="font-size: 15px; font-weight: 500;">{{ product.estado }}<span>, {{ product.cidade }}</span></p>

                            <p class="col-lg-3 col-12 align-self-md-end" style="font-size: 15px; color:rgb(153, 153, 153); font-weight: 500;">{{ product.date }}</p>
                        </div>


                    </div>
                </a>


            </div>
            {% endfor %}

        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div>
            {% include 'pesquisa/pagination.html' with page=products %}
        </div>
    </div>

</section>

<script language="JavaScript" type="text/javascript" charset="utf-8">
    document.getElementById("nomePesquisa").placeholder = 'Estou procurando por...';

    if (document.getElementById("categoriaSelecionada").value == 'Ferramentas') {
        document.getElementById('divFerramentas').style.borderStyle = 'inset';
    } else if (document.getElementById("categoriaSelecionada").value == 'Moda e Beleza') {
        document.getElementById('divModa').style.borderStyle = 'inset';
    } else if (document.getElementById("categoriaSelecionada").value == 'Eletrônicos') {
        document.getElementById('divEle').style.borderStyle = 'inset';
    } else if (document.getElementById("categoriaSelecionada").value == 'Automóveis') {
        document.getElementById('divAuto').style.borderStyle = 'inset';
    } else if (document.getElementById("categoriaSelecionada").value == 'Construção') {
        document.getElementById('divConst').style.borderStyle = 'inset';
    } else if (document.getElementById("categoriaSelecionada").value == 'Agro e Indústria') {
        document.getElementById('divAgro').style.borderStyle = 'inset';
    }


    function selecionarCategoria(categoriaSelecionada, div) {
        if (document.getElementById("categoriaSelecionada").value == categoriaSelecionada) {
            document.getElementById("categoriaSelecionada").value = '';
            removerBordas();
        } else {
            document.getElementById("categoriaSelecionada").value = categoriaSelecionada;
            removerBordas();
            document.getElementById(div).style.borderStyle = 'inset';
        }

    }

    function removerBordas() {
        document.getElementById('divFerramentas').style.border = 'none';
        document.getElementById('divModa').style.border = 'none';
        document.getElementById('divEle').style.border = 'none';
        document.getElementById('divAuto').style.border = 'none';
        document.getElementById('divConst').style.border = 'none';
        document.getElementById('divAgro').style.border = 'none';

    }
    new dgCidadesEstados({
        cidade: document.getElementById('cidade'),
        estado: document.getElementById('estado')
    }, '{{estado}}', '{{cidade}}')
</script>

{% endblock %}