html, body {
   height: 100%;
   margin: 0;
   margin-top: 40px;
}

/* Navegação */

#logo-nav {
   border-radius: 10px;
   width: 45px;
   height: 45px;
}

.icones-nav img {
   width: 30px;
}

.cor-texto-dropdown a {
   color: rgb(74, 74, 74);
}

.cor-texto-nav li>a {
   color: #fff;
}

.navbar-nav>li:hover>a, .navbar-nav>li.active>a {
   color: #C0C0C0;
}

/* Meu perfil */

.fotoPerfil {
   width: 150px;
   height: 150px;
   background-color: #000;
   color: #FFF;
   border-radius: 50%;
}

/* Diversos */

.box-shadow {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 2px 8px 0 rgba(0, 0, 0, .05);
}

.botao-redondo {
   border-radius: 50px;
}

.login-cadastro-espacamento {
   margin-top: 120px;
}

.fundo-site-branco {
   background-color: #FFF;
}

/* Home */

.aumentar-tamanho-mouse a {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.aumentar-tamanho-mouse:hover {
   transition: all 0.3s ease;
   transform: scale(1.1);
}

.tamanho-fixo-imagens {
   width: 200px;
   height: 200px;
}

#quem-somos {
   background: url('../images/quem-somos.jpg') center center;
   background-size: cover;
}

#section-home-pesquisar #id_nome {
   height: calc(1.5em + 1rem + 2px);
   padding: .5rem 1rem;
   font-size: 1.25rem;
   line-height: 1.5;
}

.categoria p{ 
   color: rgb(74, 74, 74);
   font-weight: 500;
}

.categoria .aumentar-tamanho-mouse img {
   width: 60px;
}

.categoria .pesquisa-categoria img {
   width: 60px;
}

.categoria .pesquisa-categoria {
   cursor: pointer;
   text-decoration: none;
}


/* EFEITO PARALLAX HOME */

/* Efeito Parallax */

.caixa1, .caixa2, .caixa3, .caixa4 {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 100vh;
   opacity: 0.8;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.caixa1 {
   background-image: url('../images/aperto-de-maos.jpg');
}

.caixa2 {
   background-image: url('../images/alugando-carro.jpg');

}

.caixa3 {
   background-image: url('../images/alugando-mala.jpg');

}

.caixa4 {
   background-image: url('../images/comprar-ou-alugar.jpg');

}

.conteudo {
   color: #777;
   background-color: white;
   text-align: justify;
   padding: 40px 80px;
}

.conteudo-titulo span.titulo {
   text-transform: uppercase;
   color: #fff;
   background-color: #111;
   padding: 18px;
   font-size: 25px;
   letter-spacing: 5px;
   border-radius: 6px;
}

/* Anunciar Produto */

#id_descricao {
   height: 150px;
}

#id_condicoesUso {
   height: 150px;
}

.texto-campo {
   color: rgb(74, 74, 74);
   font-weight: bold;
}

/* Meus Anúncios */

.tamanho-fixo-imagens-myAnuncios {
   width: 200px;
   height: 200px;
}

.texto-meus-anuncios {
   color: black;
}

.texto-meus-anuncios:hover {
   text-decoration: none;
}


/* Detalhe produto */

@media (max-width: 2000px) {
   .imagem-xl {
      height: 390px;
   }
}

@media (max-width: 960px) {
   .imagem-lg {
      height: 350px;
   }
}

@media (max-width: 767px) {
   .subs-favo {
      margin-left: 35%;
   }
   .imagem-md {
      height: 300px;
   }
}

.etiqueta-valor {
   width: 220px;
   height: 150px;
   background: url('../images/icone-etiqueta.png') no-repeat center;
   background-size: cover;
}

.etiqueta-valor-md {
   width: 195px;
   height: 100px;
   background: url('../images/icone-etiqueta.png') no-repeat center;
   background-size: cover;
}

.preco {
   position: relative;
   bottom: -62px;
   left: 27px;
   font-size: 27px;
}

.preco-md {
   position: relative;
   bottom: -40px;
   left: 82px;
   font-size: 22px;
}

/* Footer */

footer a {
   color: white;
   font-weight: 500;
}

footer a:hover {
   color: #C0C0C0;
   text-decoration: none;
}

footer h6 {
   color: #919496;
}

footer li {
   margin-top: 10px;
}

footer .img-brasil {
   width: 30px;
}

footer .bandeira p {
   display: inline;
   margin-right: 3px;
   font-size: 13px;
}

footer .bandeira p:hover {
   color: #1DB954;
}

footer .cop p {
   color: #919496;
   font-size: 13px;
}

footer .extra a {
   color: #919496;
   font-size: 13px;
}

footer .extra a:hover {
   color: #C0C0C0;
}

footer {
   margin-top: 300px;
}

@media (max-width: 768px) {
   .politica-cookies {
      display: none;
   }
}

/* Login e Cadastro */

.logar-cadastrar-distanciamento {
   margin-top: 150px;
}

/* Perguntas Frequentes */

section.duvida-por-tema a {
   text-decoration: none;
}

.colecao {
   font-weight: 600;
}

.colecao:hover {
   text-decoration: none;
}

section.duvida-por-tema p {
   font-weight: 500;
}

/* Pesquisa (tela de busca) */

.texto-item {
   color: black;
   text-decoration: none;
   font-weight: ;
}

.texto-item:hover {
   text-decoration: none;
   color: #717171;
}

.texto-item-nome {
   font-size: 1.3rem;
}

.tamanho-imagens-pesquisa {
   width: 24%;
   height: 11.5rem;
}

@media (max-width: 767px) {
   .tamanho-imagens-pesquisa {
      width: 40%;
      height: 200px;
   }
}

/* Meus Favoritos */

.texto-favoritos {
   color: #212529;
   text-decoration: none;
   font-size: 1.1rem;
   font-weight: 500;
}

.texto-favoritos:hover {
   text-decoration: none;
}



/* Chat */

#chat-text {
   background-color: white;
   border-radius: 30px;
   color: black;
}

.enviar-mensagem {
   height: 50px;
}

/* Meus Chats */

.link-produto-chat{
   color: black;
}

.link-produto-chat:hover {
   text-decoration: none;
}

/* Notificações */

.link-notificacao:hover {
   text-decoration: none;
}

