html, body {
   height: 100%;
   margin: 0;
   margin-top: 40px;
}

/* Navegação */

#logo-nav {
   border-radius: 10px;
   width: 45px;
   height: 45px;
}

.icones-nav img {
   width: 30px;
}

.cor-texto-dropdown a {
   color: rgb(74, 74, 74);
}

.cor-texto-nav li>a {
   color: #fff;
}

.navbar-nav>li:hover>a, .navbar-nav>li.active>a {
   color: #C0C0C0;
}

/* Meu perfil */

.fotoPerfil {
   width: 150px;
   height: 150px;
   background-color: #000;
   color: #FFF;
   border-radius: 50%;
}

/* Diversos */

.box-shadow {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 2px 8px 0 rgba(0, 0, 0, .05);
}

.botao-redondo {
   border-radius: 50px;
}

.login-cadastro-espacamento {
   margin-top: 120px;
}

.fundo-site-branco {
   background-color: #FFF;
}

/* Home */

.aumentar-tamanho-mouse a {
   color: black;
   text-decoration: none;
}

.aumentar-tamanho-mouse:hover {
   transition: all 0.3s ease;
   transform: scale(1.1);
}

.tamanho-fixo-imagens {
   width: 200px;
   height: 200px;
}

#quem-somos {
   background: url('../images/quem-somos.jpg') center center;
   background-size: cover;
}

#section-home-pesquisar #id_nome {
   height: calc(1.5em + 1rem + 2px);
   padding: .5rem 1rem;
   font-size: 1.25rem;
   line-height: 1.5;
}

/* Anunciar Produto */

#id_descricao {
   height: 150px;
}

#id_condicoesUso {
   height: 150px;
}

.texto-campo {
   color: rgb(74, 74, 74);
   font-weight: bold;
}

/* Meus Anúncios */

.tamanho-fixo-imagens-myAnuncios {
   width: 150px;
   height: 150px;
}

/* Detalhe produto */

@media (max-width: 2000px) {
   .imagem-xl {
      height: 390px;
   }
}

@media (max-width: 960px) {
   .imagem-lg {
      height: 350px;
   }
}

@media (max-width: 767px) {
   .subs-favo {
      margin-left: 35%;
   }
   .imagem-md {
      height: 300px;
   }
}

.etiqueta-valor {
   width: 220px;
   height: 150px;
   background: url('../images/icone-etiqueta.png') no-repeat center;
   background-size: cover;
}

.etiqueta-valor-md {
   width: 195px;
   height: 100px;
   background: url('../images/icone-etiqueta.png') no-repeat center;
   background-size: cover;
}

.preco {
   position: relative;
   bottom: -62px;
   left: 27px;
   font-size: 27px;
}

.preco-md {
   position: relative;
   bottom: -40px;
   left: 82px;
   font-size: 22px;
}

/* Footer */

footer a {
   color: white;
   font-weight: 500;
}

footer a:hover {
   color: #C0C0C0;
   text-decoration: none;
}

footer h6 {
   color: #919496;
}

footer li {
   margin-top: 10px;
}

footer .img-brasil {
   width: 30px;
}

footer .bandeira p {
   display: inline;
   margin-right: 3px;
   font-size: 13px;
}

footer .bandeira p:hover {
   color: #1DB954;
}

footer .cop p {
   color: #919496;
   font-size: 13px;
}

footer .extra a {
   color: #919496;
   font-size: 13px;
}

footer .extra a:hover {
   color: #C0C0C0;
}

footer {
   margin-top: 300px;
}

@media (max-width: 768px) {
   .politica-cookies {
      display: none;
   }
}

/* Login e Cadastro */

.logar-cadastrar-distanciamento {
   margin-top: 150px;
}

/* Perguntas Frequentes */

section.duvida-por-tema a {
   text-decoration: none;
}

.colecao {
   font-weight: 600;
}

.colecao:hover {
   text-decoration: none;
}

section.duvida-por-tema p {
   font-weight: 500;
}