{%  extends 'base.html'%}

{%  load bootstrap %}
{% load static %}

{% block title %} Alugar Produto {% endblock %}

{% block main %}
<section class="container box-shadow mb-5 pt-5 pb-3">

    <div class="text-center mb-5">
        <h1 class="display-4 text-primary">Solicitação de Aluguel</h1>
        <span class="h6">Preencha os dados para continuar com a solicitação</span>
    </div>

    <div class="row justify-content-center">

        <div class="p-5 col-12 col-lg-7" style="border-radius: 20px; color: rgb(74, 74, 74); font-weight: bold;">

            <div>
                <h3 class="h4">Dados da Conta</h3>
                <span style="font-weight: normal; font-size: 13px; color: #A9A9A9;">Será necessário o CPF para dar continuidade ao processo de solicitação de aluguel.</span>
            </div>

            <form method="POST" class="mt-4" action="submit" enctype="multipart/form-data">
                {% csrf_token %}

                <div>

                    <div class="form-group">
                        <label for="inputNome">CPF</label>
                        <input class="form-control" type="text" required id="id_cpf" value="{{ cpf }}" name="id_cpf">
                    </div>

                </div>

                <div class="mt-5">
                    <h3 class="h4">Endereço</h3>
                    <span style="font-weight: normal; font-size: 13px; color: #A9A9A9;">Preencha os campos com seus dados de endereço atuais.</span>
                </div>

                <div class="mt-4">

                    <div class="form-row">
                        <div class="col">
                            <label for="inputNome">CEP</label>
                            <input type="text" class="form-control" required id="id_cep" value="{{ cep }}"
                                name="id_cep" />
                        </div>

                        <div class="col">
                            <label for="inputNome">Bairro</label>
                            <input type="text" class="form-control" required id="id_bairro" value="{{ bairro }}"
                                name="id_bairro" />
                        </div>
                    </div>

                    <div class="mt-4 form-group">
                        <label for="inputNome">Rua</label>
                        <input type="text" class="form-control" required id="id_rua" value="{{ rua }}" name="id_rua" />
                    </div>

                    <div class="form-row mb-4">
                        <div class="col-3 mr-3">
                            <label for="inputNome">Número</label>
                            <input type="text" class="form-control" id="inputNome" placeholder="" value="399">
                        </div>

                        <div class="col">
                            <label for="inputNome">Complemento</label>
                            <input type="text" class="form-control" id="id_complemento" value="{{ complemento }}"
                                name="id_complemento" />
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col-3 mr-3">
                            <label for="inputNome">Estado</label>
                            <input type="text" class="form-control" required id="id_estado" maxlength="2"
                                value="{{ estado }}" name="id_estado" />
                        </div>

                        <div class="col">
                            <label for="inputNome">Cidade</label>
                            <input type="text" class="form-control" required id="id_cidade" value="{{ cidade }}"
                                name="id_cidade" />
                        </div>
                    </div>

                    <div class="mt-4">
                        <button type="submit" style="border-radius: 30px; font-weight: 500;" class="btn btn-block btn-primary py-2">Próximo Passo</button>
                    </div>
                </div>

        </div>

        <div class="p-5 col-12 col-lg-7" style="color: rgb(74, 74, 74); font-weight: bold;">

        </div>
    </div>

    </form>

</section>


{% endblock %}