{%  extends 'base.html'%}

{% block title %} Lista de Produtos {% endblock %}

{% block main %}

    <div class="row">
        <div>

        </div>
    <div class="col-lg-3 mx-auto">
            <div class="list-group">
                
                <form method="GET">
                    {{ filtro.form }}
                    <input class="btn btn-secondary" type="submit" value="Pesquisar">
                    </form>
            </div>
        </div>
        <div class="col-12">
            <h3> Meus Produtos </h3>
        <div>
            {% for message in messages %}
                   <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                   </div>

            {% endfor %}
        </div>

            <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-7">
                           <a href="{% url 'my_detail_product' product.id %}"> <p> {{ product.nome }} </p> </a>
                            <image src="{{ product.get_photo_url }}" width="150" height="100" > </image>
                        </div>

                    </div>
                </li>
                 {% empty %}
            <h4>Você ainda não adicionou um produto!</h4>

            {% endfor %}

            </ul>
             </br>
             <a href="{% url 'create_products' user.id %}" class="btn btn-secondary"> Cadastrar produto </a>
        </div>

        {% include 'products/pagination.html' with page=products %}

       

        </div>

{% endblock %}

