{%  extends 'base.html'%}
{% load static %}

{% block title %} Lista de Produtos {% endblock %}

{% block main %}

{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<section class="container text-center mb-5 box-shadow pt-5 pb-3">
    <div>
        <h1 class="display-4 text-primary mb-5">Meus Anúncios</h1>
    </div>
    <div class="row">
        <div class="col" id="produtos" data-children="produto">

            <div class="produto py-2 col-12">

                <div class="row">

                    <div class="d-md-flex col-12 align-items-center">
                        <div class="col-md col-11">
                            <a class="lead" data-toggle="collapse" href="#publicados" aria-expanded="true"
                                aria-controls="publicados" style="color:#696969">Publicados ({{quantidade}})</a>
                        </div>
                    </div>

                </div>

                <div class="my-2" style="border: 1px solid #ccc;">

                </div>

                <div class="p-3" style="border: 2px solid #ccc; border-radius: 20px;">

                    <div id="publicados" class="collapse show" role="tabpanel" data-parent="#produtos">

                        <div class="row">

                            {% for product in products %}
                            <div class="col-md-3 rounded pb-3 ml-3 pt-2 mr-3 mt-3 mt-md-0"
                                style="border:1px solid #ccc">

                                <image src="{{ product.get_photo_url }}"
                                    class="rounded tamanho-fixo-imagens-myAnuncios"> </image>
                                <div class="mt-2 mb-2">
                                    <span>{{ product.nome }}</span>
                                </div>
                                <div class="mb-2">
                                    <span><strong>R${{ product.preco }}</strong></span>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="mr-3">
                                        <a href="{% url 'update_product' product.id %}"
                                            class="btn btn-primary btn-block botao-redondo">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="6">
                                        <button type="button" onclick="prenecherExclusao({{product.id}})"
                                            data-toggle="modal" data-target="#modal-exlusao"
                                            class="btn btn-primary btn-block botao-redondo">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            {% empty %}
                            <div class="col-12 justify-content-center">
                                <img src="{% static 'images/imagem-sem-produtos-cadastrados.png' %}" alt="">
                                <h4>Você ainda não adicionou um produto!</h4>
                            </div>

                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>



        </div>


    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            {% include 'products/pagination.html' with page=products %}
        </div>
    </div>


</section>

<!-- Modal -->
<div class="modal fade" id="modal-exlusao" tabindex="-1" role="dialog" aria-labelledby="modal-exclusão"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                <h6>Deseja mesmo excluir o produto?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> Não </button>
                <a class="btn btn-primary" href="{% url 'delete_product' '0' %}"> Sim </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}