{%  extends 'base.html'%}

{% block title %} Lista de Produtos {% endblock %}

{% block main %}

    <div class="row">
        <div>

        </div>

        <div class="col-12">
            <h3> Listagem de Produtos </h3>
            <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-7">
                           <a href="{% url 'detail_product' product.id %}"> <p> {{ product.nome }} </p> </a>
                            <image src="{{ product.imagem.url }}" width="150" height="100" > </image>
                        </div>

                    </div>
                </li>
            {% endfor %}

            </ul>
             </br>
             <a href="{% url 'create_products' user.id %}" class="btn btn-secondary"> Cadastrar produto </a>
        </div>

        </div>

{% endblock %}

