{%  extends 'base.html'%}

{% block title %} Produtos Requisitados/Alugados {% endblock %}

{% block main %}
    <div class="container">

        <div>
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {% endfor %}
        </div>
    <div class="row">
       {% for alugado in alugados %}
            {% if alugado.confirmado %}
        <div class="col">
               <a href="{% url 'detalhar_aluguel' alugado.id %}"> <p> {{ alugado.produto.nome }} </p> </a>
               <a href="{% url 'detalhar_aluguel' alugado.id %}">
                    <image src="{{ alugado.produto.get_photo_url }}" width="150" height="100" />
               </a>
              
        </div>
            {% else %}
        <div class="col">
                <a href="{% url 'detalhar_aluguel' alugado.id %}"> <p> {{ alugado.produto.nome }} </p> </a>
                <a href="{% url 'detalhar_aluguel' alugado.id %}">
                    <image src="{{ alugado.produto.get_photo_url }}" width="150" height="100" />
                </a>
                
        </div>
            {% endif %}
        {% empty %}
        <h4>Você não tem produtos pendentes!</h4>

        {% endfor %}


    </div>
    </div>

{% endblock %}

