{%  extends 'base.html'%}
{% load static %}
{% block title %} Produtos Requisitados/Alugados {% endblock %}

{% block main %}

<section class="container box-shadow p-3 pb-5">

    <div class="text-center mb-5">
        <h1 class="display-4 text-primary">Propostas</h1>
        <span class="h6">Aqui você encontra todas as suas propostas</span>
    </div>
    <div class="row justify-content-center">



        <div class="col-6">

            <div class="text-center ml-5">
                <h5 class="">Alugados</h5>
            </div>
        </div>

        <div class="col-6">

            <div class="text-center mr-5">
                <h5 class="">Propostas</h5>
            </div>
        </div>
        {% for alugado in alugados %}
        {% if alugado.confirmado %}

        <li class="list-group-item col-5 mr-5" style="border-radius: 10px;">

            <div class="row col-12 align-items-center justify-content-md-around text-center">

                <div class="col-md-3 col-12">
                    <a href="{% url 'detalhar_aluguel' alugado.id %}">
                        <image class="rounded" src="{{ alugado.produto.get_photo_url }}" width="150" height="100" />
                    </a>
                </div>

                <div class="col-md-3 col-12">
                    <a href="{% url 'detalhar_aluguel' alugado.id %}">
                        <p> {{ alugado.produto.nome }} </p>
                    </a>
                </div>


            </div>
        </li>
        {% endif %}
        {% empty %}
        <li class="list-group-item mt-3 p-5 mr-5" style="border-radius: 10px;">
            <div class="text-center mt-3">
                <h4>Você não tem produtos alugados!<span><img style="width: 50px;"
                            src="{% static 'images/chat-icone.png' %}" alt=""></span></h4>
            </div>
        </li>
        {% endfor %}

        {% for alugado in alugados %}
        {% if alugado.confirmado%}
        {% else %}

        <li class="list-group-item col-5" style="border-radius: 10px;">
            <div class="row col-12 align-items-center justify-content-md-around text-center">

                <div class="col-md-3 col-12">
                    <a href="{% url 'detalhar_aluguel' alugado.id %}">
                        <image class="rounded" src="{{ alugado.produto.get_photo_url }}" width="150" height="100" />
                    </a>
                </div>

                <div class="col-md-3 col-12">
                    <a href="{% url 'detalhar_aluguel' alugado.id %}">
                        <p> {{ alugado.produto.nome }} </p>
                    </a>
                </div>



            </div>
    </div>
    </li>
    {% endif %}

    {% empty %}
    <li class="list-group-item mt-3 p-5" style="border-radius: 10px;">
        <div class="text-center mt-3">
            <h4>Você não tem proposta pra aluguel!<span><img style="width: 50px;"
                        src="{% static 'images/chat-icone.png' %}" alt=""></span></h4>
        </div>
    </li>

    </div>


    {% endfor %}

    </div>

    </div>

</section>


{% endblock %}