{%  extends 'base.html'%}

{% block title %} Lista de Produtos {% endblock %}

{% block main %}


  
<br>
<br>

<div>
	{% if is_favourite %}
	<a href="{% url 'favourite_products' id=product.id %}">
		<i class="fas fa-heart fa-lg"></i>
	</a>
	{% else %}
	<a href="{% url 'favourite_products' id=product.id %}">
		<i class="far fa-heart fa-lg"></i>
	</a>
	{% endif %}

</div>


<h3> {{ product.nome }} </h3>

<image src="{{ product.imagem.url }}" width="150" height="100"></image>

<p> Descrição : {{ product.descricao }} </p>

<p> Categoria:  {{ product.categoria }} </p>

<p> Preço: {{ product.preco }} R$ </p>

<p> Condições de Uso : {{ product.condicoesUso }} </p>

   <button type="button"class="btn btn-secondary"> Chat      
    </button>
    

{% endblock %}