{%  extends 'base.html'%}

{%  load bootstrap %}

{% block title %} Seja bem vindo {% endblock %}

{% block main %}
   <body>
   <h3> Produto </h3>

   <div>
        {% for message in messages %}
               <div class="alert alert-success alert-dismissible fade show" role="alert">
                   {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

               {% endfor %}
    </div>
    <form method="POST" action="" enctype="multipart/form-data" class="col-lg-9">
        {% csrf_token %}
        {{ form|bootstrap }}

        <select required class="custom-select mt-2 mb-4" name="estado" id="estado"></select>
        <select required class="custom-select" name="cidade" id="cidade"></select>

        <button type="submit" class="btn btn-secondary"> Salvar </button>
        <a href="{% url 'list_products' user.id %}" class="btn btn-secondary"> Voltar </a>

    </form>

   <script language="JavaScript" type="text/javascript" charset="utf-8">
      new dgCidadesEstados({
        cidade: document.getElementById('cidade'),
        estado: document.getElementById('estado')
      }, '{{estado}}', '{{cidade}}')
    </script>
{% endblock %}