<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alugo - </title>
</head>
<body>

    <h1>Novo - Atualizara Produto/Update product</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salvar</button>
        <a href="/home">Voltar</a>
    </form>

<a href="/home">Voltar</a>
    {% if product %}
        <a href="{% url 'delete_product' product.id %}">Excluir</a>
    {% endif %}
</body>
</html>