
{%  extends 'base.html'%}
{% load static %}
{% block title %} Chat Home{% endblock %}

{% block main %}

    <form method="POST" action="submit" enctype="multipart/form-data">

        {% csrf_token %}

        <textarea id="chat-text" readonly="readonly" cols="80" rows="30">{{ mensagems }}</textarea>

        <br>

        <input type="text" id="mensagem" name="mensagem" size="80"><br>
        <button type="submit" id="submit">Enviar</button>
        <output id="identificador"> {{ identificador }} </output>

        </form>

{{ room_name|json_script:"room-name" }}
{{ request.user.name|json_script:"user_username" }}


<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}

