{%  extends 'base.html'%}
{% load static %}
{% block title %} Chat {% endblock %}

{% block main %}



<form method="POST" action="submit" enctype="multipart/form-data">

    {% csrf_token %}
    
    <section class="container box-shadow mb-5 pt-5 pb-3">

        <div class="text-center">
            <h1 class="display-4 text-primary">Chat</h1>
            <span class="h6">Entre em um acordo com o usuário</span>
        </div>

        <div class="row mt-5 mb-5">

            <div class="col-md-6 col-12">

                <div>
                    <textarea class="form-control" id="chat-text" readonly="readonly"
                        rows="20">{{ mensagems }}</textarea>
                </div>

                <div>
                    <span class="input-group-append">
                        <input class="form-control enviar-mensagem" type="text" id="mensagem" name="mensagem"
                            maxlength="80">
                        <button class="btn btn-block btn-primary col-2" style="font-weight: 500;" type="submit" id="submit" style="">Enviar</button>
                    </span>
                </div>

            </div>
             
            <div class="col-md-6 col-12 mt-5 mt-md-0 text-center">
                <div>
                    <h3>Informações sobre o produto</h3>
                </div>
                <div class="mt-5">

                    <image class="tamanho-fixo-imagens rounded" src="{{ produto.get_photo_url }}" />
                    <h5 data-toggle="tooltip" data-placement="bottom" title="{{ produto.nome }}" class="mt-3 reticencias"> {{ produto.nome }} </h5>
                    <h5> <span>R$ </span>{{ produto.preco }} </h5>
                </div>
                {% if produto.user != user %}
                <div class="mt-5">
                    

                    {% if desabilitarAlugar %}
                    <h6 class="text-danger"> Este produto está em processo de aluguel, entre em contato com o locador para saber quando
                        estará disponivel.
                    </h6>
                    {% else %}
                    <h6>Caso queira iniciar a solicitação do processo de aluguel do produto:</h6>
                    <div class="mt-4 mx-auto col-4">
                        <a type="button" href="{% url 'alugar' produto.id %}">
                        <img style="width: 150px;" src="{% static 'images/alugar.png' %}" alt=""></a>
                    </div>
                    {% endif %}

                </div>

            </div>
            {% endif %}

        </div>

    </section>

    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center">

                <div>
                    <h2>Exportar Conversa</h2>
                </div>
            </div>

            <div class="col-md-3 col-6 mt-5" style="">
                <div>
                    <img style="width: 250px;" src="{% static 'images/esqueceu.png' %}" alt="">
                </div>
            </div>

            <div class="col-md-4 col-6 mt-5">
                <div class="">
                    <h4>Para evitar o esquecimento do acordo entre as 2 partes, o Alugo disponibiliza a exportação da conversa no formato PDF!</h4>
                </div>

                <div class="mt-4">
                    <a class="d-flex align-items-center" href="{% url 'exportarpdf' room_name  %}"> 
                        <h5 class="ml-lg-5">Baixar</h5>
                        <img class="ml-3" style="width: 90px;" src="{% static 'images/pdf_baixar.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

    </section>












</form>

{{ room_name|json_script:"room-name" }}
{{ request.user.name|json_script:"user_username" }}

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}