{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>

<script type="text/javascript" src="{% static 'js/cidades-estados.js' %}"></script>
  <nav class="navbar fixed-top navbar-expand-lg bg-dark fixed-top box-shadow py-2">
    <div class="container nav-alugo">
      <a class="navbar-brand aumentar-tamanho-mouse" href="{% url 'home' %}">
        <img id="logo-nav" src="{% static 'images/icon-nav-57x57.png' %}" alt="">
      </a>
      <div class="collapse navbar-collapse cor-texto-nav icones-nav" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'images/icone-prime.ico' %}" alt="icone-prime">
              Seja Prime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_products' user.id %}">
              <img src="{% static 'images/icone-meus-anuncios.png' %}" alt="meus anuncios">
              Meus Anúncios</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'show_notifications' %}" class="navbar-item">
              <i class="material-icons"></i>
              {% if count_notifications %}
              <i class="far fa-bell" style="color:red;"></i>
              {% else %}
              <i class="far fa-bell"></i>
              <span class="badge">{{ count_notifications }}</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              href="perfil_usuario.html">
              <img src="{% static 'images/icone-perfil-nav.png' %}" alt="icone perfil">
              Perfil</a>
            <div class="dropdown-menu cor-texto-dropdown" aria-labelledby="navbarDropdown">
              <div class="arredondar-linha">
                <a class="dropdown-item" href="{% url 'perfil' user.id %}">Meu Perfil
                  <img class="ml-1" src="{% static 'images/icone-perfil-dropdown.ico' %}" alt="icone perfil"></a>
              </div>
              <div class="arredondar-linha">
                <a class="dropdown-item" href="{% url 'meusChats' %}">
                  Chat
                  <img class="ml-2" src="{% static 'images/icone-chat.png' %}" alt="icone chat"></a>
              </div>
              <div class="arredondar-linha">
                <a class="dropdown-item" href="#">
                  Ajuda
                  <img src="{% static 'images/icone-ajuda-2.ico' %}" class="ml-1" alt="icone ajuda"></a>
              </div>
              <a class="dropdown-item" href="{% url 'logout' %}">Sair
                <img src="{% static 'images/icone-sair.png' %}" alt="icone sair"></a>
            </div>
          <li class="nav-item aumentar-tamanho-mouse">
            <a id="anunciar" class="btn text-white ml-md-2 px-3 botao-redondo" style="background-color: orange;"
              href="{% url 'create_products' %}">Anunciar</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <img src="{% static 'images/icone-entrar.png' %}" alt="Entrar">
              Entrar</a>
          </li>
          <li class="nav-item aumentar-tamanho-mouse">
            <a id="anunciar" class="btn text-white ml-md-2 px-3 botao-redondo" style="background-color: orange;"
              href="{% url 'login' %}">Anunciar</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block main %}
  {% endblock %}
  
  <footer class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center mt-5">
    <a class="navbar-brand" href="{% url 'home' %}">Alugo</a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="{% static 'js/cidades-estados.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-1.2.6.pack.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.maskedinput-1.1.4.pack.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>

</html>