{%  extends 'base.html'%}
{% load static %}
{%  load bootstrap %}

{% block title %} Avaliação {% endblock %}


<style>
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
</style>

{% block main %}


<section class="container box-shadow mb-5 pt-5 pb-3">

  <div class="text-center mb-5">
    <h1 class="display-4 text-primary">Avalie o Usuário</h1>
    <span class="h6">Conte-nos sobre como foi sua experiência com o usuário</span>
  </div>

  <div class="row justify-content-center">

    <div class="col-md-9 col-12">

      <h3 class="mb-4">Avalie sua experiência com {{ usuario }}!</h3>
      <form action="/rating/avaliar/{{idAvalia}}/submit" method="POST">
        {% csrf_token %}
        <textarea type="text" id="textlocador" class="container d-flex justify-content-center form-control"
          maxlength="300" name="text" placeholder="Descreva a sua experiência!"></textarea><br>

        <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
          <input type="radio" id="star5" name="rate" value="5" /><label for="star5" title="cinco estrelas"></label>
          <input type="radio" id="star4" name="rate" value="4" /><label for="star4" title="quatro estrelas"></label>
          <input type="radio" id="star3" name="rate" value="3" /><label for="star3" title="tres estrelas"></label>
          <input type="radio" id="star2" name="rate" value="2" /><label for="star2" title="duas estrelas"></label>
          <input type="radio" id="star1" name="rate" value="1" /><label for="star1" title="uma estrela"></label>
        </div>

    </div>
  </div>

  <div class="row justify-content-md-end justify-content-center mb-5">

    <div class="mt-4 mr-md-5">
      <button class="btn btn-primary px-5 btn-lg botao-redondo">Enviar Avaliação</button>
    </div>

  </div>


  </form>
</section>

{% endblock %}