{%  extends 'base.html'%}

{%  load bootstrap %}

{% block title %} Perfil {% endblock %}

{% block main %}
<body>
<br>
<div class="container">

    <div>
        {% for message in messages %}
               <div class="alert alert-success alert-dismissible fade show" role="alert">
                   {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

               {% endfor %}
    </div>
    
<h3> Meu Perfil </h3>

    <image src="{{ perfil.get_photo_url }}" class="img-thumbnail fotoPerfil"> </image>

       <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
   <button type="submit" id="btnSalvar" class="btn btn-secondary"> Salvar </button>
         </form>
    </div>
    
</body>
{% endblock %}